<h1>Game#show</h1>
<p>Find me in app/views/game/show.html.erb</p>

<div class="playing">
  <%= link_to "Hit", hit_game_path(id: @game.id), class: "btn btn-success btn-lg", method: :post %>
  <!-- <% if @game.player_wins? %>
    <div class="victory">
      Woo!!!
    </div>
  <% else %>
    <div class="defeat">
      Boo!!!
    </div>
  <% end %> -->
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Player Hand</h3>
    <% @game.player_hand.cards.each do |card| %>
      <%= image_tag "#{card.name}#{card.suit}.png" %>
    <% end %>
    <%= image_tag "card-back.png" %>
  </div>
  <div class="col-xs-6">
    <h3>Dealer Hand</h3>
    <% @game.dealer_hand.cards.each do |card| %>
      <%= image_tag "#{card.name}#{card.suit}.png" %>
    <% end %>
  </div>

</div>
