<!DOCTYPE html>
<html>
<head>
  <title>Blackjack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="my_header_box">
    <div class="my_header">
      <h2>My Blackjack</h2>
    </div>
  </div>
  <div class="my_content">
    <%= yield %>
  </div>
</body>
</html>
